/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #444;
}

/* Header Styles */
.header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #444;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #00bfa5;
}

.nav-links .about-us {
    color: #00bfa5; /* Make the "About us" link green */
}

/* Hero Section Styles */
.hero {
    background-color: #fff;
    padding: 50px 20px;
    color: #444;
}

.hero h1 {
    color: #00bfa5; /* Green title text */
}

.hero p {
    color: #444;
    margin-bottom: 1em;
}

.hero-text {
    display: flex;
    justify-content: space-between;
}

/* Services Section Styles */
.services {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #fff;
}

.service-item {
    text-align: center;
    width: 30%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f5f5f5;
}

.service-item button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #00bfa5;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.service-item button:hover {
    background-color: #004d40;
}

/* Global Company Section Styles */
.global-company {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
}

.statistics {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.stat-item {
    width: 30%;
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Careers Section Styles */
.careers {
    text-align: center;
    padding: 40px 20px;
    background-color: #f5f5f5;
}

.offices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.office {
    width: 30%;
    margin: 20px 0;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.office button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #00bfa5;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.office button:hover {
    background-color: #004d40;
}

/* Footer Styles */
.footer {
    background-color: #00bfa5;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}
